@import "../../variables";

.Cell {
  position: relative;
  display: table-cell;
  border: 1px solid #fff;
  background: $accent-color;

  .Cell__Content {
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &:hover {
    background: $secondary-color;
    cursor: pointer;
  }

  &.Cell--marked {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 7px;
      background: #fff;
      border-radius: 5px;
      transform: translate(-50%, -50%);
      content: '';
    }
  }

  &.Cell--open {
    background: #fff;
  }

  &.Cell--mine {
    .Cell__Content {
      &:after,
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        background: $mine-color;
        transform: translate(-50%, -50%);
        content: '';
      }

      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
}
