.Game {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  .Modal {
    .Modal__Background {
      opacity: 0.9;
    }

    .Button {
      width: 200px;
    }
  }

  .Game__Field {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Game__Row {
    display: table-row;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}